html, body, * { margin: 0px; padding: 0px; }

body { padding: 20px; }
h1 {margin: 0px 0px 10px; }
h2 {margin: 20px 0px 10px; }
.left { width: 49%; float: left;}
.right { width: 49%; float: right; background-color: white; }
.clear { clear: both; width: 1px; line-height: 1px; }
.sticky { 
	position: -webkit-sticky; 
	position: sticky; 
	top: 0; 
}
.transparent { 
	opacity: 0.2; 
	filter: alpha(opacity=20); 
}
textarea { padding: 5px; width: 100%; background-color:#eeeeee; border:solid 1px #ccc; }
input { height: 30px; margin: 0px 0px; padding: 2px; margin-right: 5px; }
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
body {
  font-size: 15px;
  line-height: 1.5; 
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

table#instances th {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
} 
table#instances td {
  padding-left:2em;
  padding-right:2em;  
  border-left: 2px solid black;
}

textarea.source-code {
  width: 100%;
}
span.tooltip {
  position: absolute;
} 
div.step > div.action > div.hidden-contents {
  padding-left: 1em;
}
a {
  color: #2879d0;
  text-decoration: none;
}
a:hover {
  color: #2268b2;
}

.green {
  color: #28D22B;
}

.red {
  color: #D22B28;
}

div.step {
  margin-bottom: 1em;
}

div.action > div.instance, div.state-header {
  background-color:lightblue;
  color:purple;
  text-decoration: underline;
}

div.action > .instance, #command > h2 {
  cursor: cell;
}

div.created, div.terminated, div.query {
  margin-left: 1em;
}

div.created, div.successful-query {
  background-color: lightgreen;
}

div.terminated{
  background-color: orange;
}

div.state {
  margin-left: 1em;
}

div.error {
  background: #030303;
  color: #dfdfdf;
}

div.state div.tagged-elem {
  color: gray;
}

div.state div.tagged-elem.power-active, div.state div.tagged-elem.duty-active {
  color: black;
}

div.state div.tagged-elem.duty-active, div.state div.tagged-elem.duty-violated {
  font-style: italic;
}

div.state div.tagged-elem.duty-violated {
  background-color: red;
  color: yellow;
}
div.action div.tagged-elem.action-violated, div.action div.tagged-elem.duty-violated, div.unsuccessful-query {
  background-color: red;
  margin-left:1em;
}

div#active-duties .duty-violated {
  background-color: red;
}
